<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传图片</title>
</head>
<body>
    <h1>上传</h1>
    <form action="" enctype='multipart/form-data' method='POST'>

	<br>
	<input type="text" name="identifier" />
	<br>
        <input type="file" id="file"  name="file" onchange="read()"  style="margin-top:20px;"/>
        <br>
        <input type="submit" value="上传并识别" class="button-new" style="margin-top:15px;"/>
    </form>
<div id="imgDiv" style="width:640px; "></div>
</body>
<script>
    //可以选择多个文件加载在页面
   function read(){
        var file = document.getElementById("file");
        var imgDiv = document.getElementById("imgDiv");
        for(var i=0;i<file.files.length;i++){
            let reader = new FileReader();
            var file1 = file.files[i];
            reader.readAsDataURL (file1);
            reader.onload = function (result) {
                //reader对象的result属性存储流读取的数据
                imgDiv.innerHTML += '<img  style="width:640px;" src="'  + reader.result + '" alt=""/>'
                console.log(reader.result) // 打印出转换后的base64
            }
        }
    }
</script>
</html>
